.attribution { font-size: 11px; text-align: center;margin-top: 20px; }
.attribution a { color: hsl(228, 45%, 44%); }

* {
    margin: 0;
    padding: 0;
}
@font-face {
    font-family: NotoSans;
    src: url(../fonts/NotoSans-VariableFont_wdth,wght.ttf);
}

body {
    font-family: NotoSans;
    background: linear-gradient(180deg, #EBF2FC 0%, #EEF8F9 100%);
}

.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    
    margin-top: 30px;
    height: 120vh;
}

.but_light_disable {
    font-family: NotoSans;
    font-size: 16px;

    border-radius: 20px;
    border-color: rgba(0, 0, 0, 0.233);
    background-color: white;
    border-width: 1px;
    cursor: pointer;
}
.but_light_disable:hover {
    background-color: hsl(3, 77%, 44%);
    color: white;
}
.but_light_enable {
    font-family: NotoSans;
    font-size: 16px;

    border-radius: 20px;
    border-color: rgba(0, 0, 0, 0.233);
    border-width: 1px;

    cursor: pointer;

    background-color: hsl(3, 77%, 44%);
    color: white;
}

.but_dark_disable {
    font-family: NotoSans;
    font-size: 16px;

    border-radius: 20px;
    border-color: rgba(255, 255, 255, 0.137);
    background-color: hsl(225, 23%, 24%);
    border-width: 1px;

    color:white;
    cursor: pointer;
}
.but_dark_disable:hover {
    background-color: hsl(3, 71%, 56%);
    color: hsl(227, 75%, 14%);
}
.but_dark_enable {
    font-family: NotoSans;
    font-size: 16px;

    border-radius: 20px;
    border-color: rgba(255, 255, 255, 0.137);
    background-color: hsl(3, 71%, 56%);
    
    border-width: 1px;
    color: hsl(227, 75%, 14%);
    cursor: pointer;
}




.nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;

    font-weight: bold;

    width: 1000px;
    padding: 16px;
    padding-top: 10px;
    padding-bottom: 10px;

    background-color: white;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.13);
    

    border-radius: 20px;
}

#disign-but_light {
    background-color: hsl(0, 0%, 93%);
    padding: 10px;
    border-radius: 10px;
    cursor: pointer;
    border: 0;
}
#disign-but_light:hover {
    background-color: hsl(0, 0%, 78%);
}
#disign-but_dark {
    background-color: hsl(225, 23%, 24%);
    padding: 10px;
    border-radius: 10px;
    cursor: pointer;
    border: 0;
}
#disign-but_dark:hover {
    background-color: hsl(226, 11%, 37%);
}


.selector {
    display: flex;
    justify-content: space-between;

    width: 1032px;

    margin-top: 70px;
    margin-bottom: 30px;
    
}
.selector-filtr {
    display: flex;
    gap: 16px;
}
#filtr-but {
    padding-inline: 16px;
}



.containers {
    display: grid;
    grid-template-columns: repeat(3, 1fr);

    width: 1032px;
    gap: 10px;

}
.container-item {
    display: flex;
    flex-direction: column;

    width: 305px;
    
    padding: 16px;

    border-radius: 16px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.13);

    background-color:white;
}
.item-text{
    display: flex;
    gap: 20px;
    padding-bottom: 50px;
}
h2 {
    font-size: 18px;
    padding-bottom: 5px;
}
.text {
    font-size: 14px;
    color: rgba(0, 0, 0, 0.568);
}



.item-iteract {
    display: flex;
    justify-content:space-between;
}
#remove-but {
    padding: 6px;
    padding-inline: 16px;
}
.but_light {
    font-family: NotoSans;
    font-size: 16px;

    border-radius: 20px;
    border-color: rgba(0, 0, 0, 0.233);
    background-color: white;
    border-width: 1px;
    cursor: pointer;
}
.but_light:hover {
    background-color: hsl(3, 77%, 44%);
    color: white;
}
.but_dark {
    font-family: NotoSans;
    font-size: 16px;

    border-radius: 20px;
    border-color: rgba(255, 255, 255, 0.137);
    background-color: hsl(225, 23%, 24%);
    border-width: 1px;

    color:white;
    cursor: pointer;
}
.but_dark:hover {
    background-color: hsl(3, 71%, 56%);
    color: hsl(227, 75%, 14%);
}



.but_toggle_inactive_light {
    cursor: pointer;

    padding: 0px 32px 0px 0px;
    background-color: hsl(0, 0%, 78%);

    border: 2px solid hsl(0, 0%, 78%);
    border-radius:16px;
}
.but_toggle_active_light {
    cursor: pointer;

    padding: 0px 0px 0px 32px;
    background-color:hsl(3, 77%, 44%);

    border: 2px solid hsl(3, 77%, 44%);
    border-radius:18px;
}
.but_toggle_inactive_dark {
    cursor: pointer;

    padding: 0px 32px 0px 0px;
    background-color: hsl(225, 23%, 24%);

    border: 2px solid hsl(225, 23%, 24%);
    border-radius:16px;
}
.but_toggle_active_dark {
    cursor: pointer;

    padding: 0px 0px 0px 32px;
    background-color:hsl(3, 71%, 56%);

    border: 2px solid hsl(3, 71%, 56%);
    border-radius:16px;
}


.cyrcle {
    background-color: white;
    padding: 14px;
    border-radius:14px;

}







